name: Coleta Automatica

on:
  schedule:
    - cron: "0 20 * * *"   # 17h BRT = 20h UTC
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write   # necessário para dar push

jobs:
  run-code:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código da branch Analise
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependências
        working-directory: Scraper
        run: |
          pip install -r requirements.txt

      - name: Executar main.py
        working-directory: Scraper
        run: |
          python main.py

      - name: Limpar os dados
        working-directory: Tratamento/src
        run: |
          python validador_dados.py

      - name: Commitar resultados
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Coleta automática em $(date +'%d-%m-%Y %H:%M')" || echo "Sem alterações para commitar"
          git push origin main
